$background-blackout: rgba(102, 102, 102, 0.5);
$background-color-white: white;
.blackout {
  background: $background-blackout;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  display: block;
  z-index: 30;
  top: 0;
}
.modal {
  height: 260px;
  padding: 15px 30px 15px 30px;
  border: 3px solid #606062;
  border-radius: 10px;
  color: #3c3c49;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff;
  z-index: 40;
}

.title_text {
  padding-bottom: 10px;
}
.textarea_modal {
  width: 100%;
  height: 150px;
  margin: 10px 0 0 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none;
}
.button_modal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  padding: 0 25px;
  margin-top: 10px;

  outline: none;
  border: 1px solid $background-color-white;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: $background-color-white;
  background-color: rgb(118, 118, 118);
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  cursor: pointer;
  font-weight: 800;
  transition: box-shadow 0.2s;
  line-height: 1.5;
  letter-spacing: 1px;
  opacity: 0;
  animation: btn 5s forwards;
}
.textarea_modal:focus {
  border: 3px rgb(207, 198, 198) solid;
}

@media (min-width: 768px) {
  .modal {
    width: 30%;
  }
}
